body{
    background-color: #9f7ac0;
   
}
.placar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
}

.card{
   
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 10px 8px 20px rgba(0,0,0,0.5);
}
.card h3{
    margin: 10px 0 0;
}

.placar-botao{
    display: flex;
    justify-content: center;
    
}

.placar-botao h4{
    margin: 10px 10px 0;
    height: 30px;
    width: 30px;

    align-content: center;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255,255,255,0.3);
}

.rodape{
    text-align: center;
}